# {{COMMENT}}
# @armor (SSH Bridge Template)
Host {{SSH_HOST}}
    HostName localhost
    Port {{SSH_PORT}}
    User devuser
    IdentityFile {{IDENTITY_FILE}}
    UserKnownHostsFile {{KNOWN_HOSTS_FILE}}
    StrictHostKeyChecking no
    PasswordAuthentication no
    ForwardAgent yes
    RequestTTY yes
